body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./BG.JPG') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}


/* Style for the box in the Center (main box) */
.content-box {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
}

.form-section, .result-section {
    flex: 1;
}

/* Style for Every <h2> tags */
h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

/* Style for input fields */
.input-group input[type="text"] {
    width: 60%;
    padding: 1px;
    margin-bottom: 20px;
}

/* Style for radio buttons */
.radio-group input[type="radio"] {
    margin-right: 5px;
}

/* Style for submit and Save button */
.buttons button {
    margin: 20px;
    display: block;
    padding: 10px;
    width: 50%;
}

/* Style for prediction and saved answer sections (The Box Section) */ 
.prediction, .saved-answer-section .saved-answer {
    border: 1px dashed #000;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 50px; /* Adjust height as needed */
}

/* Style for header of Saved Answer Section */
.saved-answer-section h2 {
    margin-bottom: 20px;
}

/* Additional styles for the saved answer section */
.saved-answer {
    border: 1px dashed #000;
    padding: 10px;
    margin: 10px 0;
    min-height: 50px;
    position: relative;
    padding-left: 80px; 
}
